<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <app-advanced-input formControlName="firstName"
                      label="First name"
  ></app-advanced-input>
  <app-advanced-input formControlName="lastName"
                      label="Last name"
  ></app-advanced-input>
  <app-advanced-input formControlName="email"
                      label="Email"
  ></app-advanced-input>

  <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Submit</button>
</form>

<pre>{{formGroup.value | json}}</pre>
